h1 {color: blue; text-align: center; margin-top: 50px;}
#p {font-weight: bold;}
* {background-color: lightblue ;}
.h3 {color: blueviolet; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}